@import susy
@import compass

$total-columns: 13
$grid-padding: 0.7em
$gutter-width: 0.7em
$column-width: 4em

$ford-blue: #003C5A
$nav_bg: #D6D3D3
$nav-color: #575656
$orange: #FF7808
$light-gray: #eeefef
$ford-color: #0a4c84

body
  background-color: #D6D3D3
  font-family: arial, helvetica, sans
  p, ul, dl
    font-size: 12px
    margin-bottom: 0.7em
    margin-top: 0.7em
  #topnav
    +container
    margin: 0px auto

