@import compass/reset
@import susy
@import compass

$total-columns: 12
$column-width: 60px
$gutter-width: 20px
$grid-padding: 10px


body
  background-color: #ddd
  font-family: arial, helvetica, sans
  p, ul, dl, tr
    font-size: 12px
  th
    font-size: 14px
  h1
    font-size: 26px
    padding-top: 10px
    padding-bottom: 10px
    font-family: arial
    font-weight: bold
    color: #222

  #top
    background-color: black
    h1
      color: white
    
    #topcontent
      +container
      margin: 0px auto
      height: 45px
      .title
        text-decoration: none
  #monster
    +container
    margin-top: 1em
    padding: 0px
    #content
      +span-columns(12, 12)
      +border-radius(5px)
      background-color: white
      margin: 0px
      #main
        overflow: hidden
        padding: 1em
        #projects
          overflow: hidden
          table
            width: 100%
          tr
            margin-top: 5px
            margin-left: 5px
            height: 40px
            border-bottom: solid 1px #d6d3d3
            &:hover
              background-color: #d6d3d3
          td, th
            //+span-columns(2, 9)
            width: 140px
            margin: 0px
            padding-left: 5px
            //padding-left: 10px
          th
            +background-image(linear-gradient(#ddd, #d6d3d3))
            +border-radius(3px)
            font-weight: bold
            font-size: 15px
            padding-bottom: 8px
            color: orange
          .tag
            background-color: #128028
            margin: 2px
            padding: 1px
            color: white
            border-radius: 10px
            -moz-border-radius: 10px
            -webkit-border-radius: 10px
            border: 2px solid #096929
            yytext-decoration: none
    //#right
      +span-columns(3 omega, 12)
      +border-radius(5px)
      background-color: white
      .wrapper
        padding: 1em

