-#encoding: utf-8
!!! 5
%html
  %head
    %title=title
    %link(href="/assets/application.css" media="screen" rel="stylesheet" type="text/css")
  %body
    #topcontainer
      #topnav
        %h1
          DataMapper 2 - Yeah its lots of beautiful code!
    #monster
      #content=content
      #right
        %h1
          right
