-#encoding: utf-8
!!! 5
%html
  %head
    %title=title
    %link(href="assets/application.css" media="screen" rel="stylesheet" type="text/css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    %script(src="assets/application.js")
    %meta(name="description"){:content=>meta_description}
  %body
    #top
      #topcontent
        %a(href="/" class="title")
          %h1=title
    #monster
      #content=content
