#main
  #reset
    %a(href="javascript:show()")
      Show all
  %table{:id => 'projects'}
    %tr
      %th Name
      - ::Status::Plugin.titles.each do |title|
        %th
          = title
    - projects.each do |project|
      %tr
        %td
          %a{:href => project.github_url}
            = project.short_name
          - project.tags.each do |tag|
            %a{:class => 'tag', :href => "javascript:showTag('#{tag.name}')"}
              = tag.name
        - project.plugins.each do |plugin|
          %td
            %a{:href => plugin.url}
              %img{:src => plugin.image_src}
