#main
  #repositories
    %table
      %tr
        %th Name
        %th Travis
        %th Gemnasium
        %th Codeclimate
        %th Rubygems
        %th Activity
      - repositories.each do |repository|
        %tr
          %td
            %a{:href => repository.github_href}
              = repository.short_name
          %td
            %a{:href => repository.travis_status_href}
              %img{:src => repository.travis_image_src}
          %td
            %a{:href => repository.gemnasium_status_href}
              %img{:src => repository.gemnasium_image_src}
          %td
            %a{:href => repository.codeclimate_status_href}
              %img{:src => repository.codeclimate_image_src}
          %td
            %a{:href => repository.rubygems_href}
              %img{:src => repository.rubygems_image_src}
          %td
            17s
