#main
  #projects
    %table
      %tr
        %th Name
        %th Travis
        %th Gemnasium
        %th Codeclimate
        %th Rubygems
        %th Activity
      - projects.each do |project|
        %tr
          %td
            %a{:href => project.github_url}
              = project.short_name
          %td
            %a{:href => project.travis_status_url}
              %img{:src => project.travis_image_src}
          %td
            %a{:href => project.gemnasium_status_url}
              %img{:src => project.gemnasium_image_src}
          %td
            %a{:href => project.codeclimate_status_url}
              %img{:src => project.codeclimate_image_src}
          %td
            %a{:href => project.rubygems_url}
              %img{:src => project.rubygems_image_src}
          %td
            \--
